body{
    background-image: url("Images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(84, 18, 18, 100);
}

.logo{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 50px;
}

.form-control{
    background-color: #541212;
    border-radius: 0%;
    border: none;
}

.login{
    background-color: rgba(255,245,233,.5);
    padding-bottom: 10%;
}

.logo{
    background-color: rgba(11,25,44,.5);
    gap: 5px;
}


.btn{
    background-color: #541212;
    border-radius: 0%;
    border: none;
    width: 200px;
    margin-top: 50px;
}

.box{
    width: 500px;
}

h1{
    text-align: center;
    padding-top: 10%;
}

.remember{
    color: rgb(33, 37, 41);
    text-decoration: none;
}

.logoPic{
    max-width: 800px;
    height: auto;
}

p{
    font-size: 50px;
    margin-top: -85px;
}
